extends layout

block content
  .row.page-header: .col-lg-12
    h1 About
  .row
    p The purpose of this project is to implement a bartering system for Mines students to exchange goods or services. To make a post, first log in using the 'Sign In' tab, then navigate to your user page under 'User', then add a post from there.
    p Other people should vote for our project because it uses user authentication to ensure everyone posting has an account. 
    p This project is for option 1, which is to implement a piece of new technology. This technology is passport.js, which implements the user authentication features.