extends layout

block content
  .row.page-header: .col-lg-12
    h1 About
  .row
    p This project uses passport.js to implement a user authentication feature. To test this feature, click on Sign In on the navigation bar and fill out the forms as needed.