doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
  body
    .navbar.navbar-default.navbar-fixed-top.bg-primary
      .container
        .navbar-header
          a.navbar-brand.text-white(href='/') Home
          a.navbar-brand.text-white(href='/') User
          a.navbar-brand.text-white(href='/signin') Sign In
          a.navbar-brand.text-white(href='/about') About
    .container
      block content

      footer
        .row
          .col-xs-12
            small Clifford Boyce, Gustavo Bejarano, Corbin Baker, Minh Vu - 2018

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
