extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Create post
      if account
          h4.ml-auto account.user.username
        else
          h4.ml-auto Not logged in
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="title")= field.title
          .col-xs-12.col-sm-10
            input#name.form-control(name="title")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="deadline")= field.deadline
          .col-xs-12.col-sm-10
            input#name.form-control(name="deadline")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="userOffering")= field.userOffering
          .col-xs-12.col-sm-10
            input#name.form-control(name="userOffering")
        .form-group
          label.col-sm-2.control-label(for="description")= field.description
          .col-sm-10
            textarea#description.form-control(name="description", rows="5")
        button.btn.btn-default.pull-right Add Post
    .col-xs-12.col-md-4
