extends layout

block content
    h1 Sign In/Register
    form#local-sign-in(action="/login", method="post")
      .form-group
        label Username:&nbsp;&nbsp;
          input(type="text", name="username")
      .form-group
        label Password:&nbsp;&nbsp;
          input(type="password", name="password")
      .form-group
        input.btn.btn-primary.btn-sm(type="submit", value="Log In")
    p </br>
    form#local-reg(action="/local-reg", method="post")
      .form-group
        label New Username:&nbsp;&nbsp;
          input(type="text", name="username")
      .form-group
        label New Password:&nbsp;&nbsp;
          input(type="password", name="password")
      .form-group
        input.btn.btn-primary.btn-sm(type="submit", value="Register")
